<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="saml2TokenSettings" type="System.Configuration.NameValueSectionHandler" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <saml2TokenSettings>
    <add key="AudienceUri" value="https://www.federated.ip.com" />
    <add key="ConfirmationMethod" value="https://www.federated.ip.com" />
    <add key="Issuer" value="FederatedIP" />
    <add key="Namespace" value="FederatedIP_Authentication" />
    <add key="SubjectName" value="FederatedIP_Authentication_SAML2" />
    <add key="ValidFor" value="20" />
    <add key="TimeoutWarning" value="2" />
  </saml2TokenSettings>
  <appSettings>
    <add key="ApplicationName" value="My ASP.NET Application" />
    <add key="ApplicationDescription" value="My ASP.NET Application Description" />
    <add key="Environment" value="0" />
    <add key="ShowEnvironmentName" value="true" />
    <add key="Themes" value="default,mainTheme,darkTheme" />
    <add key="DefaultTheme" value="army" />
    <add key="EncryptionKey" value="MyEncryptionKey_Should_be_changed" />
    <add key="AuthenticationCookieName" value="SiteDomain_SiteName_AUTH" />
    <add key="LogoutUrl" value="/Auth/Logout" />
    <add key="AsposeLicensePath" value="" />
    <add key="MainSQLDbConnectionKey" value="WebAppDbConnectionTemplate" />
    <add key="ProxyRequestParam" value="__ProxyRequestVerificationToken" />
    <add key="ProxyEndParam" value="__ProxyEnd" />
    <add key="DarkModeChangeParam" value="__DarkMode" />
    <add key="LastLoginDateFormat" value="MM/dd/yyyy HH:mm" />
    <add key="ExternalLoginTokenParam" value="Token" />
  </appSettings>
</configuration>